@font-face {
    font-family: MedievalSharp;
    src: url(../fonts/MedievalSharp/MedievalSharp.ttf);
}

@font-face {
    font-family: Abel;
    src: url(../fonts/Abel/Abel.ttf);
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/Merryweather/Merriweather.ttf);
}

* {
    font-family: Abel;
}

.medieval {
    font-family: MedievalSharp;
}

header {
    font-family: MedievalSharp;
}

.header-main {
    background-color: gray;
    color:white;
}

.titulo {
    text-shadow: -1px 1px 0 #000,
            1px 1px 0 #000,
            1px -1px 0 #000,
            -1px -1px 0 #000;
  }

.boton:not(.unbind):hover {
    color:skyblue;
}

a:not(.unbind) {
    color:skyblue;
}

a:not(.unbind):hover {
    color:cyan;
}