/* Header */

@font-face {
    font-family: MedievalSharp;
    src: url(../fonts/MedievalSharp/MedievalSharp.ttf);
}

@font-face {
    font-family: Abel;
    src: url(../fonts/Abel/Abel.ttf);
}

* {
    font-family: Abel;
}

.medieval {
    font-family: MedievalSharp;
}

header {
    font-family: MedievalSharp;
}

.header-main {
    background-color: gray;
    color:white;
}

/* Body */

main {
    max-width: 100%;
    
}

body {
    background-color: black;
    color:white;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit:cover;
}

.titulo {
    color:white;
    text-shadow: -1px 1px 0 #000,
          1px 1px 0 #000,
          1px -1px 0 #000,
          -1px -1px 0 #000;
}

.card {
    border: 1px solid black;
    transition: 0.3s;
}

.card:hover {
    border: 1px solid rgb(130, 207, 238);
    transition: 0.3s;
    background-color: rgba(166, 220, 241);
}

.card-img-top {
    border-radius: 0;
}

.main-main {
    padding:20px;
}

.card-header {
    font-weight: bold;
}

@media only screen and (max-width: 780px) {
    .card-img-top {
        width: 100%;
        height: 24vw;
        object-fit:cover;
    }
}

@media only screen and (max-width: 430px) {
    .card-img-top {
        width: 100%;
        height: 35vw;
        object-fit:cover;
    }
}

.linkredirect {
    color:red;
}

.linkredirect:hover {
    color:red;
    font-weight: bold;
}

#myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    width:100px;
  }

.x {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
}

.x span {
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace;
    transition:ease-out 0.3s;
    font-weight: bold;
    background-color: red;
    border-radius: 50%;
    width:100px;
    height: 100px;
}

.x span:hover {
    color:red;
    transition:ease-in 0.3s;
    background-color: white;
    border-radius: 50%;
}